.movies-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 50px;
  margin-top: 2rem;
  justify-items: center;
  gap: 50px;
  align-items: center;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width:300px;
  background-color: #bbdef0;
  border-radius: 10px;
  padding: 5px 20px 20px;
  cursor:pointer;
}

.movie-card:hover{
  opacity:0.9;
  border: solid 3px #00a6fb;
}

img {
  width: 100%;
  max-width:150px;
  height:230px;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 0px 0px 22px 2px rgba(0, 0, 0, 0.6);
  margin-bottom: 2rem;
}

.movie-description {
  margin-top: 1rem;
}

.name {
  color: #003554;
  font-weight: bold;
}

.show{
  margin-top: 0.5rem;
  color:#00a6fb;
  cursor:pointer;
}

.show:hover{
  opacity: 0.5;
}

.desc {
  margin-top: 0.5rem;
  color: #006494;
  cursor:pointer;
}

.release {
  margin-top: 0.5rem;
  font-weight: bold;
}

.viewmore-btn {
  margin-top: 0.5rem;
  background-color: transparent;
  color: #00a6fb;
  border: 1px #00a6fb solid;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.viewmore-btn:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-top: 2rem;
    justify-items: center;
    padding: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    margin-top: 2rem;
    justify-items: center;
    padding: 20px;
  }
}
